

.full-width{
    background: #002b5c;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 5px;
    //vertical-align: middle;
//    height: 60px;
    color: white;
}

button.custom-date-class {
  background: orange;
  border-radius: 100%;
}

